# Object file
*.o

# Ada Library Information
*.ali

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# On ignore les points de montage

DMR_fraude/


# on ignore le fichier excel surveillance 

surveillance.xlsx


